body{
    background-color: #ab9083;
}

h4{
    font-family: 'Monteserrat Aletrnates', serif;
    font-weight: bold;
    color: #e74248;
    
}

h5{
    font-family: 'Monteserrat Aletrnates', serif;
    font-weight: bold;
    color: #cdcdcd;
    
}


p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em;  
    color:dimgrey;
    
}

/*meer lezen*/
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}


h5{
color: crimson;
}

#nav
{
    background-color: #e3f2fd;

}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}