body{
    background-color: #ab9083;
}

h4{
    font-family: 'Monteserrat Aletrnates', serif;
    font-weight: bold;
    color: #e74248;
    
}

p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em;  
    color:dimgrey;
    
}

/*meer lezen*/
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}


h5{
color: crimson;
}

#nav
{
    background-color: #e3f2fd;

}
